/* Global styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 56px;
}

.gap-2 {
    gap: 0.5rem;
}

/* FullCalendar overrides */
.fc-timegrid-slot {
    height: 4em !important;
}